<h1>Home</h1>
<p>Hello <%= @you.name %> and welcome to my site. I am <%= @person.name %> and I was born in <%= @person.dob.strftime("%Y") %>.</p>
<%= link_to "View people", people_path %> <%= link_to "Sign up", new_person_path %>