<h1>Home</h1>
<p>Hello <%= @you.name %> and welcome to my site. I am <%= @person.name %> and I was born in <%= @person.dob.strftime("%Y") %>.</p>
<p><%= @message %></p>
<%= link_to "View people", people_path %> <%= link_to "Sign up", new_person_path %>
<% if !@you.Facebook %>
<%= link_to "Add Facebook", add_provider_path( :provider => "facebook" ) %>
<% end %>
<% if !@you.Twitter %>
<%= link_to "Add Twitter", add_provider_path( :provider => "twitter" ) %>
<% end %>